.container
  %h3
    About
  %p
    This is a simple web app that serves as an experiment in integrating with the Google Maps JavaScript API.
  %p
    See more info <a href="https://github.com/jgyllen/sf-food-trucks">here</a>.
