.container
  %h3
    SF Food Trucks
  %p.lead
    Search for food trucks in San Francisco.

.container
  .row
    .col-xs-12.col-md-8
      .form-group
        %input#pac-input.form-control{type: 'search', placeholder: 'Search address...'}
  .row
    .col-xs-12.col-md-8
      #map
    .col-xs-6.col-md-4
      #truck-details.hidden.well

